.introductionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.foto {
    width: 350px;
    height: 400px;
}

