@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --color-primary: #E3FDFD;
    --color-secondary: #CBF1F5;
    --color-secondary-alt: #A6E3E9;
    --color-tertiary: #4aa7ac;
    --color-white: #ffffff;
    --color-black: #000000;
}

[mode="dark"] {
    --color-primary: #003333;
    --color-secondary: #006666;
    --color-secondary-alt: #009999;
    --color-tertiary: #99cccc;
    --color-white: #000000;
    --color-black: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    min-height: 100vh;
}

svg {
    fill: var(--color-black);
}

path {
    stroke: var(--color-black);
}


a {
    text-decoration: none;
}

.separator {
    min-width: 100%;
    height: 2.5rem;
}


/* Color classes */

.backgroundPrimary {
    background-color: var(--color-primary);
}

.backgroundSecondary {
    background-color: var(--color-secondary);
}

.backgroundSecondaryAlt {
    background-color: var(--color-secondary-alt);
}

.backgroundTertiary {
    background-color: var(--color-tertiary);
}

.backgroundWhite {
    background-color: var(--color-white);
}

.backgroundBlack {
    background-color: var(--color-black);
}

.primaryColor {
    color: var(--color-primary);
}

.secondaryColor {
    color: var(--color-secondary);
}

.secondaryColorAlt {
    color: var(--color-secondary-alt);
}

.tertiaryColor {
    color: var(--color-tertiary)
}

.whiteColor {
    color: var(--color-white);
}

.blackColor {
    color: var(--color-black);
}


/* Title */

.titleBackground {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 60px;
    max-width: fit-content;
    align-self: center;
    padding-block: 10px;
    padding-inline: 25px;
    margin-top: 10px;
}

.btntitleindex {
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    text-align: center;
}

.img_title {
    width: 50px;
    height: 50px;
}

/* Nav Style */

.navBar {
    margin-top: 10px;
}

.navButtons {
    display: flex;
    justify-content: space-between;
}

.dropdownButton {
    border: none;
    border-radius: 50%;
    min-width: 26px;
    min-height: 34px;
    padding: 1px 6px;
    padding-top: 3px;
    margin-right: 2%;
    font-size: larger;
}

.navList {
    max-height: 0;
    overflow: hidden;
    margin: 10px;
    border-radius: 15px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    list-style: none;
    transition: max-height 0.3s ease-in-out;
    background-color: var(--color-secondary);
}

.navList.show {
    max-height: 200px;
}

.navItem {
    padding-block: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.navItem a {
    text-decoration: none;
}

/* Input checkbox (switch) */

.switch {
    position: relative;
    display: flex;
    width: 60px;
    min-height: 34px;
    min-width: 34px;
}

.switchInput {
    display: none;
}

.switchLabel {
    position: absolute;
    min-width: 60px;
    top: 0px;
    left: 5px;
    right: 0px;
    bottom: 0px;
    background-color: var(--color-secondary);
    border-radius: 34px;
    transition: background-color 0.4s;
}

.switchLabel:before {
    position: absolute;
    content: '☀️';
    text-align: center;
    align-content: center;
    min-height: 25px;
    min-width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-white);
    border-radius: 50%;
    transition: transform 0.4s;
}

.switchInput:checked+.switchLabel {
    background-color: var(--color-secondary);
}

.switchInput:checked+.switchLabel:before {
    transform: translateX(26px);
    content: '🌑';
}

/* Main */

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */

.footer {
    margin-top: auto;
    display: flex;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: center;
}

.selected {
    color: var(--color-white);
}

/* Desktop Display */
@media only screen and (min-width: 660px) {

    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .navList {
        max-height: 20%;
        overflow: hidden;
        margin: 10px;
        border-radius: 15px;
        padding: 0px;
        display: flex;
        flex-direction: row;
    }

    .navItem {
        text-decoration: none;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 2rem;
        width: 8rem;
        text-transform: uppercase;
        font-family: sans-serif;
        margin: 3px;
        font-size: 11px;
        border-radius: 34px;
    }

    .dropdownButton {
        display: none;
    }
}