:root {
    --color-primary: #E3FDFD;
    --color-secondary: #CBF1F5;
    --color-secondary-alt: #A6E3E9;
    --color-tertiary: #4aa7ac;
}

[mode="dark"] {
    --color-primary: #0000;
    --color-secondary: #CBF1F5;
    --color-secondary-alt: #A6E3E9;
    --color-tertiary: #ffff;
}

body {
    background-color: var(--color-primary);
    color: #4aa7ac;
}

.backgroundPrimary {
    background-color: var(--color-primary);
}

.backgroundSecondary {
    background-color: var(--color-secondary);
}

.backgroundSecondaryAlt {
    background-color: var(--color-secondary-alt);
}

.backgroundTertiary {
    background-color: var(--color-tertiary);
}

.primaryColor {
    color: var(--color-primary);
}

.secondaryColor {
    color: var(--color-secondary);
}

.secondaryColorAlt {
    color: var(--color-secondary-alt);
}

.tertiaryColor {
    color: var(--color-tertiary);
}

.backgroundHeader {
    background-color: var(--color-secondary-alt);
}