.BodyGeneral {
    display: flex;
    flex-direction: column;
}

.ConteinerFormulario {
    display: flex;
    justify-content: center;
}

.formulario {
    width: 300px;
    padding: 30px;
    margin-bottom: 2%;
    border-radius: 30px;
    background-color: var(--color-tertiary);
    color: var(--color-white);
    box-shadow: 7px 13px 37px var(--color-black);
}

.control {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.formulario .registro {
    border: solid var(--color-secondary-alt);
    background-color: var(--color-secondary);
    color: var(--color-black);
}

.formulario h4 {
    font-size: x-large;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.controls {
    width: 280px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: solid var(--color-secondary-alt);
    font-family: sans-serif;
}

.formulario .registro {
    width: 100%;
    border-radius: 50px;
    padding: 12px;
}

/*REGION CAPTCHA GENERAL*/
.RegionCaptchaGeneral {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.menssage {
    text-align: center;
    margin-bottom: 12px;
}

.image_captchat {
    width: 14px;
    height: 12px;
}

/*REGION CAPTCHA*/
.ButtonRefesh {
    position: absolute;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--color-secondary-alt);
    border-radius: 3px;
    width: 30px;
    height: 30px;
}

.ControlCaptcha {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 142px;
    height: 36px;
    color: var(--color-black);
    background-color: var(--color-white);
    border: solid var(--color-secondary-alt);
    border-radius: 4px;
    margin-right: 3px;
    font-size: 20px;
}

/*REGION CAPTCHA COMPLIT*/
.ButtonConfirm {
    position: absolute;
    margin-left: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--color-secondary-alt);
    border-radius: 3px;
    width: 30px;
    height: 30px;
}

.CaptchaComplit {
    width: 143px;
    height: 34px;
    border: solid var(--color-secondary-alt);
    border-radius: 4px;
    margin-left: 3px;
    text-align: start;
}